/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {



}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {



}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {



}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {



}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {



}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    .img-content-left{
        position: relative;
        padding:30px!important;
        background:#202634;
    }
    .img-content-left .img-left{
        position: relative;
        right: 0;
    }
    .img-content-right{
        padding:30px!important;
    }
    .img-content-right .img-right{
        position: relative;
        left:0;
        top:0;

    }
    .big-box .second .pl-80{
        padding-left:0;
    }
    .big-box .second .pr-80{padding-right:0}
    .features .title h2 small{padding:0}
    .testimonials .img{right:0;margin-bottom:15px;}
    .testimonials .title h2{padding:0}
    .full_screen{height:auto;}
}